"""

This code was written as an sample code

Name: %f

Author: %U
Copyright: %Y
Licence: CC BY-NC-ND 4.0 IT
"""
%j

import os
from math import pi, sin, cos # noqa
import sys  # noqa

#0
%je ;; test delete
#1

# reprise to substitute Author %U

%j


# %U %M

%je